In [42]:
import scipy.io as sio
from scipy.fft import fft
import os,glob
import math
import numpy as np
import pandas as pd
import os,glob
import pyexcel
import signal_utll

In [43]:
df = pd.read_csv('../datasets/laser_ds.csv')
df.head()

,Age Group,Sex,Side,Sub,File
0,Age_A,Male,Neck_R,Sub 36,../datasets/Age_A/Age_A_Male/Sub 36/36Neck_R_A...
1,Age_A,Male,Neck_R,Sub 36,../datasets/Age_A/Age_A_Male/Sub 36/36Neck_R_A...
2,Age_A,Male,Neck_R,Sub 36,../datasets/Age_A/Age_A_Male/Sub 36/36Neck_R_A...
3,Age_A,Male,Neck_L,Sub 36,../datasets/Age_A/Age_A_Male/Sub 36/36Neck_L_A...
4,Age_A,Male,Neck_L,Sub 36,../datasets/Age_A/Age_A_Male/Sub 36/36Neck_L_A...

In [44]:
Hz_Lthr, Hz_Hthr, ROI_Hz_Lthr, ROI_Hz_Hthr ,low_weight, high_weight, high_weight2, no_peaks= 0.4, 3.5, 0.8, 2.5, 0.01, 0.07, 0.08, 6
top_peaks_array=[]
secs=60 # 1 mins

for i, row in df.iterrows():
    X, Y, peaks_idx = signal_utll.find_top_peaks_with_uniform_weight_v2(row['File'], Hz_Lthr, Hz_Hthr, 
                                                                     ROI_Hz_Lthr, ROI_Hz_Hthr, 
                                                                     low_weight, high_weight, high_weight2, no_peaks)
    peaks_hr = [round(X[peak]*secs) for peak in peaks_idx]
    top_peaks_array.append(peaks_hr)

df['Peaks_Hr'] = top_peaks_array

In [45]:
df.head(6)

,Age Group,Sex,Side,Sub,File,Peaks_Hr
0,Age_A,Male,Neck_R,Sub 36,../datasets/Age_A/Age_A_Male/Sub 36/36Neck_R_A...,"[49.0, 51.0, 54.0, 56.0, 60.0, 62.0]"
1,Age_A,Male,Neck_R,Sub 36,../datasets/Age_A/Age_A_Male/Sub 36/36Neck_R_A...,"[58.0, 69.0, 74.0, 80.0, 113.0, 143.0]"
2,Age_A,Male,Neck_R,Sub 36,../datasets/Age_A/Age_A_Male/Sub 36/36Neck_R_A...,"[50.0, 64.0, 72.0, 93.0, 99.0, 101.0]"
3,Age_A,Male,Neck_L,Sub 36,../datasets/Age_A/Age_A_Male/Sub 36/36Neck_L_A...,"[51.0, 67.0, 73.0, 76.0, 94.0, 96.0]"
4,Age_A,Male,Neck_L,Sub 36,../datasets/Age_A/Age_A_Male/Sub 36/36Neck_L_A...,"[61.0, 68.0, 71.0, 100.0, 124.0, 149.0]"
5,Age_A,Male,Neck_L,Sub 36,../datasets/Age_A/Age_A_Male/Sub 36/36Neck_L_A...,"[49.0, 52.0, 54.0, 57.0, 60.0, 62.0]"

In [46]:
grouped_df = df.groupby(by=["Age Group","Sex","Sub"])

In [47]:
rows = []
for name, group in grouped_df: 
    n_row = list(name)
    gr_peaks = []
    for i, row in group.iterrows():
            gr_peaks.append(row['Peaks_Hr'])
    gr_peaks_list = [item for sublist in gr_peaks for item in sublist]
    max_peak_cluster_center = signal_utll.do_clusters_and_find_max_center(gr_peaks_list, 5)
    n_row.append(round(max_peak_cluster_center, 2))
    n_row.append(round(sum(gr_peaks_list)/len(gr_peaks_list),0))
    rows.append(n_row)
    

df_Peaks= pd.DataFrame(rows);
df_Peaks

        0       1       2       3      4
0   Age_A  Female  Sub 25   53.54   69.0
1   Age_A  Female  Sub 28   56.82   78.0
2   Age_A  Female  Sub 32   52.78   78.0
3   Age_A  Female  Sub 35   53.81   76.0
4   Age_A  Female  Sub 44   69.73   83.0
5   Age_A  Female  Sub 46   55.91   82.0
6   Age_A  Female  Sub 63   55.67   86.0
7   Age_A  Female  Sub 64  109.22   98.0
8   Age_A  Female  Sub 66   87.67  102.0
9   Age_A  Female  Sub 69   51.43   97.0
10  Age_A  Female  Sub 70   79.64   94.0
11  Age_A  Female  Sub 72   75.44   98.0
12  Age_A  Female  Sub 73   73.57   86.0
13  Age_A  Female  Sub 74   77.20   92.0
14  Age_A  Female   Sub 8   56.79   90.0
15  Age_A  Female  sub 59   64.50   86.0
16  Age_A    Male  Sub 36   55.38   75.0
17  Age_A    Male  Sub 38   51.82   79.0
18  Age_A    Male  Sub 42   55.67   71.0
19  Age_A    Male  Sub 43   73.54   86.0
20  Age_A    Male  Sub 45   57.64   79.0
21  Age_A    Male  Sub 65   74.58   84.0
22  Age_A    Male  Sub 67   96.11   98.0
23  Age_A    Male  Sub 68   95.55   90.0
24  Age_A    Male  Sub 70   79.64   94.0
25  Age_A    Male  Sub 73   70.60   84.0
26  Age_A    Male  Sub 74   77.20   92.0
27  Age_A    Male  Sub 76   55.91   79.0
28  Age_A    Male  Sub 77   85.33   83.0
29  Age_B  Female  Sub 21   54.46   83.0
30  Age_B  Female  Sub 22   72.29   86.0
31  Age_B  Female  Sub 27   49.33   73.0
32  Age_B  Female  Sub 61   55.00   92.0
33  Age_B    Male  Sub 23   54.50   80.0
34  Age_B    Male   Sub 4   54.29   70.0
35  Age_C  Female   Sub 1   53.75   81.0
36  Age_C  Female  Sub 47   53.50   92.0
37  Age_C  Female  Sub 60   75.09   91.0
38  Age_C    Male  Sub 41   80.33   94.0
39  Age_C    Male  Sub 66   87.67  102.0

In [48]:
df_Peaks.columns = ["Age Group","Sex","Sub", "Heart Beat 0.8~2.5hz","Heart Beat 0.8~2.5hz from Avg" ]
df_Peaks.head()

,Age Group,Sex,Sub,Heart Beat 0.8~2.5hz,Heart Beat 0.8~2.5hz from Avg
0,Age_A,Female,Sub 25,53.54,69.0
1,Age_A,Female,Sub 28,56.82,78.0
2,Age_A,Female,Sub 32,52.78,78.0
3,Age_A,Female,Sub 35,53.81,76.0
4,Age_A,Female,Sub 44,69.73,83.0

In [49]:
df_Peaks.to_csv('../datasets/ds_hr_0.8_2.5hz.csv',index = False, header=True)

In [25]:
#https://www.medicinenet.com/what_is_a_good_heart_rate_for_my_age/article.htm