In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("../../datasets/ds-with-all-features.csv")
df.head()

,Age Group,Sex,Sub,Heart Beat 0.8~2.5hz,Heart Beat 0.8~2.5hz from Avg,Peak Hz in 0~0.7hz,Peak Hz in 2.6~10hz,Peak Hz in 21~30hz,Peak Hz in 31~40hz,Peak Hz in 41~50hz,RMS avg,Zero crossing rate avg,Spectral flatness avg,Spectral rolloff avg,Health issue,Pulse,Level
0,Age_A,Female,Sub 25,53.54,69.0,0.0,5.50,23.33,31.00,43.67,0.2528,0.0280,0.0202,3931.6415,antidepressant,115.0,abnormal
1,Age_A,Female,Sub 28,56.82,78.0,0.0,3.12,30.00,40.00,43.25,0.1949,0.0372,0.0211,5369.9529,NaN,75.0,normal
2,Age_A,Female,Sub 32,52.78,78.0,0.0,3.00,24.71,39.50,41.50,0.2060,0.0275,0.0148,5252.5443,cold allergy98.8,107.0,abnormal
3,Age_A,Female,Sub 35,53.81,76.0,0.0,4.00,25.00,40.00,50.00,0.2054,0.0720,0.0470,7429.2183,NaN,88.0,normal
4,Age_A,Female,Sub 44,69.73,83.0,0.0,5.78,22.40,38.78,45.00,0.2440,0.0008,0.0000,71.4086,migraine medication/hormal birth control,83.0,abnormal

In [3]:
df.dropna(how='any', subset=['Level'], inplace=True)

In [4]:
df=df[['Heart Beat 0.8~2.5hz', 'Heart Beat 0.8~2.5hz from Avg', 'Pulse']]

In [5]:
df.head()

   Heart Beat 0.8~2.5hz  Heart Beat 0.8~2.5hz from Avg  Pulse
0                 53.54                           69.0  115.0
1                 56.82                           78.0   75.0
2                 52.78                           78.0  107.0
3                 53.81                           76.0   88.0
4                 69.73                           83.0   83.0

In [6]:
errors_average=[]
errors_clustering=[]
for i, row in df.iterrows():
    avg_error = (abs(row['Heart Beat 0.8~2.5hz from Avg']-row['Pulse'])/row['Pulse'])*100
    clustering_error = (abs(row['Heart Beat 0.8~2.5hz']-row['Pulse'])/row['Pulse'])*100
    errors_average.append(round(avg_error,2))
    errors_clustering.append(round(clustering_error,2))
    
df['Error from Avg Method']= errors_average
df['Error from clustering Method']= errors_clustering

In [7]:
df

,Heart Beat 0.8~2.5hz,Heart Beat 0.8~2.5hz from Avg,Pulse,Error from Avg Method,Error from clustering Method
0,53.54,69.0,115.0,40.00,53.44
1,56.82,78.0,75.0,4.00,24.24
2,52.78,78.0,107.0,27.10,50.67
3,53.81,76.0,88.0,13.64,38.85
4,69.73,83.0,83.0,0.00,15.99
5,55.91,82.0,87.0,5.75,35.74
16,55.38,75.0,82.0,8.54,32.46
17,51.82,79.0,97.0,18.56,46.58
18,55.67,71.0,66.0,7.58,15.65
19,73.54,86.0,64.0,34.38,14.91
20,57.64,79.0,74.0,6.76,22.11
29,54.46,83.0,90.0,7.78,39.49
30,72.29,86.0,78.0,10.26,7.32
31,49.33,73.0,75.0,2.67,34.23
33,54.50,80.0,73.0,9.59,25.34
34,54.29,70.0,60.0,16.67,9.52
35,53.75,81.0,81.0,0.00,33.64
36,53.50,92.0,54.0,70.37,0.93
38,80.33,94.0,53.0,77.36,51.57

In [8]:
df_sum=df[['Error from Avg Method','Error from clustering Method']].sum()

In [14]:
df_avg=(df_sum/df.shape[0])
df_avg

Error from Avg Method           19.000526
Error from clustering Method    29.088421
dtype: float64

In [21]:
print('Average error from Average method {}%'.format(round(df_avg[0],2)))
print('Average error from Clustering method {}%'.format(round(df_avg[1],2)))

Average error from Average method 19.0%
Average error from Clustering method 29.09%

In [ ]:
#https://www.calculatorsoup.com/calculators/algebra/percent-error-calculator.php