In [1]:
#Packages to install

# pretty printer
import pprint

# set up the pretty printer
pp = pprint.PrettyPrinter(indent=4)

# BeautifulSoup for scraping
from bs4 import BeautifulSoup

# for making HTTP requests
import requests

# Pandas/numpy for data manipulation
import pandas as pd
import numpy as np

In [2]:
# The URL for the Wikipedia page we're scraping
WIKI_URL = 'https://en.wikipedia.org/wiki/S%26P_100'

# Retrieve the page
wiki_page = requests.get(WIKI_URL).text

In [14]:
# parse the HTML text into a tree
soup = BeautifulSoup(wiki_page, 'html.parser')

# print the tree to screen
#print(soup.prettify())

In [15]:
# extract the table containin the S&P companies
sandp_table = soup.find('table', {"class" : "wikitable sortable"})

In [16]:
# snps array will hold an array of tuples of the form (Symbol, Name)
snps = []

# scan the table for each row ('tr' is the HTML tag for a table row)
for row in sandp_table.find_all('tr'):
    
    # scan the row for table cells ('td' is the tag for table data)
    cols = row.find_all('td')
    
    if len(cols) == 2: # skip the header row
        snps.append((cols[0].text.strip(), cols[1].text.strip()))

# convert the array of tuples into a Pandas DataFrame        
snps_df = pd.DataFrame(snps, columns=['Symbol', 'Name'])

snps_df.head()

  Symbol                 Name
0   AAPL           Apple Inc.
1   ABBV          AbbVie Inc.
2    ABT  Abbott Laboratories
3    ACN        Accenture plc
4    AGN         Allergan plc

In [75]:
REUTERS_BASE_URL = 'http://www.reuters.com/finance/stocks/company-officers/'

symbol_array = snps_df['Symbol'].values

# board_members will hold an array of tuples, one for each board member
board_members = []

# for simplicity only look at the first five companies in class
for (index, co) in snps_df.iterrows():
    sym = co['Symbol']
    reuters_page = requests.get(REUTERS_BASE_URL+sym).text
    soup = BeautifulSoup(reuters_page, 'html.parser')
    company_news_table = soup.find(id="companyNews").find("tbody",{"class" : "dataSmall"})
    for row in company_news_table.find_all('tr'):
        cols = row.find_all('td')
        if(len(cols)==4):
            board_members.append((sym, cols[0].text.strip(),cols[0].find('a').get('href'), cols[1].text.strip(), cols[2].text.strip()))
    
df = pd.DataFrame(board_members, columns=['Symbol', 'Name','Link','Age', 'Year'])
df.head()

,Symbol,Name,Link,Age,Year
0,AAPL,Art Levinson,/finance/stocks/officer-profile/AAPL.O/156560,67,2011
1,AAPL,Timothy Cook,/finance/stocks/officer-profile/AAPL.O/88090,57,2011
2,AAPL,Luca Maestri,/finance/stocks/officer-profile/AAPL.O/2486890,54,2014
3,AAPL,Katherine Adams,/finance/stocks/officer-profile/AAPL.O/2871597,53,2017
4,AAPL,Phil Schiller,/finance/stocks/officer-profile/AAPL.O/346990,57,2002

In [66]:
df.set_index(keys=['Symbol','Name'],inplace=True)
df

                                                                        Link  \
Symbol Name
AAPL   Art Levinson            /finance/stocks/officer-profile/AAPL.O/156560
       Timothy Cook             /finance/stocks/officer-profile/AAPL.O/88090
       Luca Maestri           /finance/stocks/officer-profile/AAPL.O/2486890
       Katherine Adams        /finance/stocks/officer-profile/AAPL.O/2871597
       Phil Schiller           /finance/stocks/officer-profile/AAPL.O/346990
       Angela Ahrendts        /finance/stocks/officer-profile/AAPL.O/2581904
       Eddy Cue               /finance/stocks/officer-profile/AAPL.O/1677766
       Craig Federighi        /finance/stocks/officer-profile/AAPL.O/1768087
       Daniel Riccio          /finance/stocks/officer-profile/AAPL.O/1747873
       Johny Srouji           /finance/stocks/officer-profile/AAPL.O/2682545
       James Bell             /finance/stocks/officer-profile/AAPL.O/2656812
       AI Gore                 /finance/stocks/officer-profile/AAPL.O/358346
       Robert Iger            /finance/stocks/officer-profile/AAPL.O/1660689
       Ronald Sugar           /finance/stocks/officer-profile/AAPL.O/1528234
       Sue Wagner             /finance/stocks/officer-profile/AAPL.O/2530945
ABBV   Richard Gonzalez       /finance/stocks/officer-profile/ABBV.N/2329261
       Robert Michael         /finance/stocks/officer-profile/ABBV.N/2766826
       William Chase          /finance/stocks/officer-profile/ABBV.N/2329214
       Michael Severino       /finance/stocks/officer-profile/ABBV.N/2509084
       Laura Schumacher       /finance/stocks/officer-profile/ABBV.N/2329274
       Carlos Alban           /finance/stocks/officer-profile/ABBV.N/2329276
       Henry Gosebruch        /finance/stocks/officer-profile/ABBV.N/2698125
       Timothy Richmond       /finance/stocks/officer-profile/ABBV.N/2329268
       Azita Saleki-Gerhardt  /finance/stocks/officer-profile/ABBV.N/2329271
       Brian Durkin           /finance/stocks/officer-profile/ABBV.N/2954940
       Robert Alpern          /finance/stocks/officer-profile/ABBV.N/2329278
       Roxanne Austin         /finance/stocks/officer-profile/ABBV.N/2329279
       William Burnside       /finance/stocks/officer-profile/ABBV.N/2329280
       Brett Hart             /finance/stocks/officer-profile/ABBV.N/2821351
       Edward Liddy           /finance/stocks/officer-profile/ABBV.N/2329284
...                                                                      ...
WMT    Thomas Horton             /finance/stocks/officer-profile/WMT/2563694
       Marissa Mayer             /finance/stocks/officer-profile/WMT/1756862
       Steven Reinemund          /finance/stocks/officer-profile/WMT/1575528
XOM    Darren Woods              /finance/stocks/officer-profile/XOM/2360008
       Liam Mallon               /finance/stocks/officer-profile/XOM/2809439
       Sara Ortwein              /finance/stocks/officer-profile/XOM/2809443
       Neil Chapman              /finance/stocks/officer-profile/XOM/2563477
       Andrew Swiger              /finance/stocks/officer-profile/XOM/857573
       Jack Williams             /finance/stocks/officer-profile/XOM/1555765
       Randall Ebner             /finance/stocks/officer-profile/XOM/2809435
       David Rosenthal           /finance/stocks/officer-profile/XOM/1249346
       Robert Schleckser         /finance/stocks/officer-profile/XOM/1693943
       Neil Hansen               /finance/stocks/officer-profile/XOM/2925734
       Bradley Corson            /finance/stocks/officer-profile/XOM/2699500
       Neil Duffin                /finance/stocks/officer-profile/XOM/945160
       Robert Franklin           /finance/stocks/officer-profile/XOM/1447772
       Stephen Greenlee          /finance/stocks/officer-profile/XOM/1555742
       Bryan Milton              /finance/stocks/officer-profile/XOM/2809442
       James Spellings           /finance/stocks/officer-profile/XOM/1447775
       John Verity               /finance/stocks/officer-profile/XOM/2914653
       Theodore Wojnar           /finance/stocks/officer-profile/XOM/2914655
       Susan Avery               /finance/stocks/officer-profile/XOM/2795358
       Angela Braly              /finance/stocks/officer-profile/XOM/2724683
       Ursula Burns              /finance/stocks/officer-profile/XOM/2311266
       Kenneth Frazier           /finance/stocks/officer-profile/XOM/1346765
       Steven Kandarian          /finance/stocks/officer-profile/XOM/2898442
       Douglas Oberhelman        /finance/stocks/officer-profile/XOM/2828549
       Samuel Palmisano           /finance/stocks/officer-profile/XOM/741907
       Steven Reinemund           /finance/stocks/officer-profile/XOM/975576
       William Weldon            /finance/stocks/officer-profile/XOM/2397966

                             Age  Year
Symbol Name
AAPL   Art Levinson           67  2011
       Timothy Cook           57  2011
       Luca Maestri           54  2014
       Katherine Adams        53  2017
       Phil Schiller          57  2002
       Angela Ahrendts        57  2014
       Eddy Cue               54  2011
       Craig Federighi        48  2012
       Daniel Riccio          55  2012
       Johny Srouji           53  2015
       James Bell             69  2015
       AI Gore                69  2003
       Robert Iger            67  2011
       Ronald Sugar           69  2010
       Sue Wagner             56  2014
ABBV   Richard Gonzalez       64  2013
       Robert Michael         48  2018
       William Chase          50  2018
       Michael Severino       52  2014
       Laura Schumacher       54  2013
       Carlos Alban           55  2013
       Henry Gosebruch        45  2015
       Timothy Richmond       51  2013
       Azita Saleki-Gerhardt  54  2013
       Brian Durkin           58  2018
       Robert Alpern          67  2013
       Roxanne Austin         57  2013
       William Burnside       66  2013
       Brett Hart             48  2016
       Edward Liddy           72  2013
...                           ..   ...
WMT    Thomas Horton          55  2014
       Marissa Mayer          42  2012
       Steven Reinemund       70  2010
XOM    Darren Woods           53  2017
       Liam Mallon            55  2017
       Sara Ortwein           59  2016
       Neil Chapman           55  2018
       Andrew Swiger          61  2015
       Jack Williams          54  2014
       Randall Ebner          62  2016
       David Rosenthal        61  2014
       Robert Schleckser      61  2011
       Neil Hansen                2018
       Bradley Corson         56  2015
       Neil Duffin            61  2017
       Robert Franklin        60  2009
       Stephen Greenlee       60  2010
       Bryan Milton           53  2016
       James Spellings        56  2010
       John Verity            59  2018
       Theodore Wojnar        58  2017
       Susan Avery            68  2017
       Angela Braly           56  2016
       Ursula Burns           60  2012
       Kenneth Frazier        63  2009
       Steven Kandarian       66  2018
       Douglas Oberhelman     65  2015
       Samuel Palmisano       66  2016
       Steven Reinemund       70  2016
       William Weldon         69  2013

[2231 rows x 3 columns]

In [67]:
df.loc['GOOG']

                                                            Link Age  Year
Name
John Hennessy      /finance/stocks/officer-profile/GOOG.O/480659  65  2018
Sergey Brin        /finance/stocks/officer-profile/GOOG.O/480647  44  2015
Lawrence Page      /finance/stocks/officer-profile/GOOG.O/480651  45  2015
Ruth Porat        /finance/stocks/officer-profile/GOOG.O/2594505  60  2015
Sundar Pichai     /finance/stocks/officer-profile/GOOG.O/2657229  46  2017
David Drummond     /finance/stocks/officer-profile/GOOG.O/480654  55  2015
Diane Greene      /finance/stocks/officer-profile/GOOG.O/1678945  62  2015
Eric Schmidt       /finance/stocks/officer-profile/GOOG.O/480644  62  2018
L. John Doerr      /finance/stocks/officer-profile/GOOG.O/480658  66  2016
Roger Ferguson    /finance/stocks/officer-profile/GOOG.O/2735140  66  2016
Ann Mather         /finance/stocks/officer-profile/GOOG.O/709246  57  2005
Alan Mulally      /finance/stocks/officer-profile/GOOG.O/2530079  72  2014
Paul Otellini      /finance/stocks/officer-profile/GOOG.O/480662  66  2004
Kavitark Shriram   /finance/stocks/officer-profile/GOOG.O/480663  61  1998

In [77]:
df['Age'] = df['Age'].apply(pd.to_numeric, errors='coerce')

df.groupby('Symbol').mean()

              Age
Symbol
AAPL    59.000000
ABBV    57.578947
ABT     59.600000
ACN     56.416667
AGN     57.470588
AIG     59.708333
ALL     59.291667
AMGN    60.750000
AMZN    59.066667
AXP     59.160000
BA      57.538462
BAC     62.375000
BIIB    57.950000
BK      55.136364
BKNG    57.812500
BLK     57.115385
BMY     58.700000
BRK.B   71.466667
C       60.250000
CAT     58.684211
CELG    62.500000
CHTR    55.105263
CL      60.636364
CMCSA   61.000000
COF     56.260870
COP     59.105263
COST    65.437500
CSCO    59.187500
CVS     62.695652
CVX     59.312500
...           ...
NFLX    53.833333
NKE     55.950000
NVDA    61.533333
ORCL    67.800000
OXY     63.352941
PEP     58.769231
PFE     59.875000
PG      57.812500
PM      56.516129
PYPL    53.647059
QCOM    57.521739
RTN     59.400000
SBUX    54.230769
SLB     54.419355
SO      61.720000
SPG     61.263158
T       59.272727
TGT     56.000000
TXN     56.136364
UNH     63.111111
UNP     58.500000
UPS     58.909091
USB     57.300000
UTX     59.545455
V       58.611111
VZ      57.500000
WBA     60.111111
WFC     60.157895
WMT     51.789474
XOM     60.269231

[102 rows x 1 columns]

In [91]:
new_df = df.groupby('Symbol').mean()
new_df.loc[new_df.min()]
#print(new_df.loc[new_df.max()])

KeyError: 'None of [Age    49.526316\ndtype: float64] are in the [index]'